body {font-family: 'Libre Baskerville', serif; margin: 0;
	font-size: 16px;
	color:white;
	background-color: black;}

header {position: relative; 
	z-index: 2; 
	background: linear-gradient(to bottom, rgb(0,0,0,1),rgb(0,0,0,0) );
	padding: 10px; 
	text-align: center;}

nav {display: flex; 
	justify-content: flex-end;
	text-align: center;
	margin-top: 0px; 
	align-items: center}

.buttons {margin-right: 30px;
}

.fav {margin-right: 30px;
}

.Menu {
	color: white; 
	text-decoration: none; 
	padding: 8px 8px;
	margin-right: 14px; }

.fa {background-color: transparent;
	color: white; 
	text-decoration: none; 
	padding: 0px 0px; 
	margin: 0 7px;}

nav a:hover {background: radial-gradient(ellipse, rgba(165, 42, 42, 0.5) 20%, rgba(0,0,0,0) 80%) ; 
	color: white;
}

.Logo {width: 240px;
	margin-left: 5%;
	margin-top: 20px;
	margin-right: auto;
	padding:0%;
}

.Fav {max-width: 50px;
}

img:hover {background: radial-gradient(ellipse, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 80%)}

.myname h1 {margin: 0px;
}

.myname {text-align: center;
	font-size: larger;
	background-color: rgba(51, 51, 51, 0.2);
	padding: 30px 0 20px 0;}

.Hero {background-image: url("Hero\ Cantus.webp");
	height: 900px;
	background-size:cover;
	background-position:center;
	background-attachment:scroll;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: top;
	margin-top: -100px;
	position: relative;
	z-index: 1;
}

.mega {margin: 0 18%;
}

.lang {text-align: right;
	margin: 0px 0px -4px 0px;
	padding-right: 30px;
	padding-top: 30px;}

.lang img {cursor: pointer;
	}	

.box {
	padding: 0px 40px 20px 40px;
	margin: 0px;
	border-radius: 3cap;}

p {text-align: justify;
}

.PT, .DE {max-height: 20px;
	border: 1px solid rgba(255, 255, 255, 0.5);			
}
.mynews {text-align: center;
	padding: 30px 0 -300px 0;
	margin: 0 0 -30px 0;
	font-size: 35px;
	color: rgba(255,255,255,0.8);
}

#news {display:flex;
	justify-content: space-around;
	gap: 2%;
	margin: 0 10% 0 10%;
	transition: transform 2s ease-out;
}
#box1, #box3 {width:300px;
	height: 300px;
	background-color: rgba(255, 255, 255, 0.1);
	aspect-ratio: 1;
	text-align: left;
}

#box2 {margin-top: 40px;
	width:450px;
	height: 450px;
	background-color: rgba(43, 107, 105, 0.2);
	aspect-ratio: 1;
}

#box1 h3, #box3 h3 {
	text-align:center;
	padding-top: 8px;
	font-size: 20px;
}

#box2 h3 {
	text-align:center;
	padding-top: 12px;
	font-size: 30px;
	line-height: 1.4;
}

#box1 p,  #box3 p {
	padding: 50px;
	line-height: 1.2;
	font-size: 13px;
}

#box2 p {
	padding: 50px;
	line-height: 1.4;
	font-size: 17px;
}

#myconcerts {text-align: center;
	padding: 30px 0 0 0;
	margin: 0 0 o 0;
	font-size: 35px;
	color: rgba(255,255,255,0.8);
}